/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}
body{
    font-family: 'Bruno Ace SC',serif;
    line-height: 1.5;

}
a {
    text-decoration: none;
}
/* font-size */
.fz-16{
    font-size: 16px;
}
.fz-20{
    font-size: 20px;
}
.fz-24{
    font-size: 24px;
}
.fz-64{
    font-size: 64px;
}

.bg-black{
    background: #000;
}

/* color */
.color-white{
    color: #FFFFFF;
}



/* padding */


.p-16{
    padding: 16px;
}
.pt-40{
    padding-top: 40px;
}
.pt-72{
    padding-top: 72px;
}
.pb-72{
    padding-bottom: 72px;
}
.pt-160{
padding-top: 160px;
}
.pb-160{
    padding-bottom: 160px;
}

/*  */



/* margin */
.mr-16{
    margin-right: 16px;
}
.mr-24{
    margin-right: 24px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-36{
    margin-bottom: 36px;
}
.ml-134{
    margin-left: 134px;
}


/* flex */
.df{
    display: flex;
}
.jcsb{
    justify-content: space-between
}
.as-center{
    align-self: center;
    
}
.nowrap{
    flex-wrap: wrap;
}
/* width */
.width-306{
    width: 306px;
}
.width-636{
    width: 636px;
}
.width-526{
    width: 526px; 
 }



.banner-h2{
    font-size: 64px;
    color: white;
    width: 636px;
}
.banner-h1{
    font-size: 128px;
    text-align: right;
    color: #00FFA3;
}
.img-people{
    width: 363px;
    height: 848px;
}
.img-contact{
    width: 24px;
    height: 24px;
    background: white;
}
.contact-a{
    display: block;
    width: 185px;
    height: 48px;
    padding: 12px  24px  12px  24px;
    background: white;
    border-radius: 32px;
    margin-left: auto;
}


.container{
    width: 1296px;
    
    margin: 0 auto;
}
.header li{
   
    width: 306px;
}
.header li a{
    color: #D1D1D1;
}


.introduction{
    background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true');
}


.container-li-bd{
    border: 1px solid  #E3E3E3 ;
}
.about{
    color: #15161D
}
